<div class="footer-basic">
    <footer>
        <div class="social"><a target="_blank" href="https://twitter.com/MechaIndNFT"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://discord.gg/zwG4VYuWNq"><i class="fab fa-discord" style="#000;"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#home">Home</a></li>
            <li class="list-inline-item"><a href="#whymint">Why Mint?</a></li>
            <li class="list-inline-item"><a href="#launchpad">Launchpad</a></li>
            <li class="list-inline-item"><a href="#faq">FAQ</a></li>
            <li class="list-inline-item"><a href="#">Upcoming Launches</a></li>
            <li class="list-inline-item"><a href="#">Staking</a></li>
            <li class="list-inline-item"><a href="#">Mecha Bank</a></li>
        </ul>
        <p class="copyright">Mecha Industries © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
