<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-discord" style="#000;"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Roadmap</a></li>
            <li class="list-inline-item"><a href="#">Team</a></li>
            <li class="list-inline-item"><a href="#">FAQ</a></li>
        </ul>
        <p class="copyright">Mecha Ape Labs © 2022</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
