  <nav class="style-4" style="padding: 2px 0;">
    <div class="container">

    <div class="d-flex row align-items-center">
      <div class="col-lg-1" style="padding-right: 0;padding-left: 0;">
    <%= image_tag "logo.png", class: "logo_pic" %>
      </div>
      <div class="col-lg-11">

    <ul class="menu-4">
      <li><a href="#home" data-hover="Mint Info" style="width: 100px;">Home</a></li>
      <li><a href="#whymint" data-hover="Income">Why Mint?</a></li>
      <li><a href="#" style="width: 100px;" data-hover="Mecha Labs">Launchpad</a></li>
      <li><a href="#" data-hover="FAQ">FAQ</a></li>
      <li><a href="#" data-hover="Upcoming Launches">Upcoming Launches</a></li>
      <li><a href="#" data-hover="Coming Soon">Staking</a></li>
      <li><a href="#" data-hover="Payouts">Mecha Bank</a></li>
    </ul>
      </div>
    </div>
    </div>
  </nav>
