  <nav class="style-4" style="padding: 10px 0;">
    <div class="container-ahmed" >

    <div class="d-flex row align-items-center justify-content-center">
      <div class="col-lg-1" style="padding-right: 0;padding-left: 0;">
      <%= link_to root_path do %>
        <%= image_tag "logo2.png", class: "logo_pic" %>
        <% end %>
      </div>
      <div class="col-lg-9" style="padding:0;">
        <ul class="menu-4" style="margin-bottom: 0;">
          <li><a href="#home" data-hover="Home">Home</a></li>
          <li><a href="#whymint" data-hover="Roadmap">Why Mint?</a></li>
          <li><a href="#launchpad" data-hover="Launchpad">Launchpad</a></li>
          <li><a href="#launchpad-sec" data-hover="Services">Services</a></li>
          <li><a href="#anti-rug" data-hover="Anti-Rug">Anti-Rug</a></li>
          <li><a href="#" data-hover="Upcoming">Upcoming</a></li>
         <!--  <li><a href="#" data-hover="Past">Past</a></li> -->
          <li><a href="#" data-hover="Mecha Bank">Mecha Bank</a></li>
        </ul>
      </div>
      <div class="lg-1">
        <a href="/users/sign_in" class="apply_button">Dashboard</a>
      </div>
    </div>
    </div>
  </nav>

<div class="navbar_mobile">
<header class="nav-top d-flex justify-space-between">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "logo_pic", style: "width:20%; padding-top:20px;" %>
  <% end %>
  <span class="hamburger material-icons" id="ham"><ion-icon name="menu-outline" style="color: #000; font-size: 40px;"></ion-icon></span>
</header>

<nav class="nav-drill">
  <ul class="nav-items nav-level-1">
    <li class="nav-item">
      <a class="nav-link" href="#home">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#whymint">
        Why Mint?
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Launchpad">
        Launchpad
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#faq">
        FAQ
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#launchpad-sec">
        Additional Services
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Staking
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Mecha Bank
      </a>
    </li>
  </ul>
</nav>
</div>
