  <nav class="style-4" style="padding: 20px 0;">
    <ul class="menu-4">
      <li class="current"><a href="#" data-hover="Home">Home</a></li>
      <li><a href="#" data-hover="MONEY!">Why Mint?</a></li>
      <li><a href="#" data-hover="MECHAMAP">Roadmap</a></li>
      <li><a href="#" data-hover="Mecha Lab">Mecha Lab</a></li>
      <li><a href="#" data-hover="FAQ">FAQ</a></li>
      <li><a href="#" data-hover="Contact">Contact</a></li>
    </ul>
  </nav>
