<div id="home" class="Main_header">
  <div class="container" id="home">
    <div class="d-flex row align-items-center justify-content-center">
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <h1 class="header_main" style=" margin-top:100px; text-align: center;">MECHA BANK</h1>
        <p class="header_p" style="padding: 30px 0; text-align: center;">Balance : 10 SOL<br>Wallet Address: <br>-----------------------------------------------------------------------</p>
       </div>
    </div>
  </div>
</div>
