
  <div class="content" style="padding-top: 150px;">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">


          <div class="row justify-content-center">
            <div class="col-md-6">

              <h3 class="heading mb-4">Contact us</h3>
              <p>Got a Following? Or know someone who needs our services? Earn SOL for referring projects with your unique Affiliate Code.</p>

              <p><%= video_tag "cardwp.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "img-fluid" %></p>


            </div>
            <div class="col-md-6">

              <form class="mb-5" action="https://formspree.io/f/xqknyqpe" method="POST" id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Contact Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="project-name" id="project-name" placeholder="Project Name:">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="project-supply" id="project-supply" placeholder="Project Supply">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="project-price" id="project-price" placeholder="Project Price in SOL:">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Info About Your Project:"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">Send</button>
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
