<div class="Main_header" style="padding: 50px 0 100px 0;">
  <div class="container">
    <div class="d-flex row align-items-center">
      <div class="col-lg-6">
        <h1 class="header_main">Mecha Labs -<br> All in One NFT <br><span class="text-gradient-primary">Launchpad</span></h1>
        <p class="header_p" style="padding: 30px 0;">Mint, Launch and List Your NFT Collection.<br> We do everything you only provide the Art.</p>
      </div>
      <div class="col-lg-6">
        <%= image_tag "monkey2.png", class: "monkey_picture" %>
      </div>
    </div>
  </div>
</div>
