<div id="home" class="Main_header">
  <div class="container" id="home">
    <div class="d-flex row align-items-center justify-content-center">
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <h1 class="header_main" style=" margin-top:100px; text-align: center;">Past</h1>
       </div>
    </div>
  </div>
</div>
