/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;600;700&family=Shadows+Into+Light&display=swap');



  .form-switch.mode-switch .form-check-input, .form-switch.price-switch .form-check-input {
    order: 2;
    margin-left: 0;
    background-color: #6366f1;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(99 102 241 / 90%);
}



.container-ahmed{
  margin:0px 50px;
}


.home_video{
  width: 100%;
  height: 100%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    --active: #F10909;
    --active-inner: #fff;
    --focus: 2px rgba(237,56,51, 0.5);
    --border: #F10901;
    --border-hover: #F10909;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}


  .pricing_labels{
    font-size: 30px;
  }
  .text-bigs{
    font-size: 40px;
    font-weight:bold;
  }
  .monkey_picture{
    width: 100%;
  }
  .team_picture{
    width: 100%;
    border-radius: 50%;
    border: 8px solid #ED3833 ;
    padding: 7px;
    height: 1vh;
    margin-bottom: 25px;
    object-fit: cover;
  }
  .logo_pic{
    width: 100%;
  }
  .team_link_h {
    font-size: 23px;
    font-weight:800;
  }
  .team_link_p{
    font-size:17px;
  }

  .social-icons-home{
    color: #ED3833;
    font-size: 40px;
  }

  .social-icons-home a{
    color: #ED3833;
    font-size: 40px;
  }
  .social-icons-home a:hover{
    color: #A02327;
    font-size: 40px;
  }
 .header_main{
  font-size:57px;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
 }
  .header_main_second{
  font-size:40px;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
 }
 .header_p{
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
  color: #686C88;
 }

 .text-gradient-primary{
    background: linear-gradient(to right, #F10909, #A02327, #F10909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .spacer {
   padding: 30px 0;
  }
.menu-4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  padding:0;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu-4 a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #F10909;
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #F10909;
  white-space: nowrap;
}
.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}
.style-4{
  padding: 2px 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 12332;
}

.footer-basic {
  padding:40px 0;
  background-color:#fff;
  color:#000;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
  color: #F10909;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  color: #F10909;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#000;
  margin-bottom:0;
}


@media only screen and (max-width: 1000px) {
  .Main_header{
    text-align: center;
  }
  .style-4{
    display: none;
  }
  .header_main{
    font-size: 40px;
  }
  .h3-text-bla{
  font-size: 15px;
}
  .list-inline-item {
    display: block;
  }
}

.monkey_picture_link{
  width: 30%;
  padding:0px 0 30px 0;
}

.monkey_picture_nft{
  width: 100%;
  object-fit: cover;
}



@media only screen and (min-width: 1000px) {
  .navbar_mobile{
    display: none;
  }
}



@media only screen and (max-width: 1000px) {
  .monkey_picture_nft{
    width: 70%;
  }
}



.apply_button{
  font-size: 20px;
  color: #fff;
  background-color: #F10909;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  box-shadow:;
  padding:12px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px red;
  transition-duration:0.3s;
}

.apply_button:hover{
  font-size: 20px;
  color: #fff;
  background-color: #F10909;
  box-shadow:;
  padding:12px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px red;
  text-decoration: none;
}


.mecha_link_one{
  text-align: center;
  padding-bottom: 30px;
}
.mecha_link_second_pic{
  text-align: center;
  padding-bottom: 30px;
}
.mecha_link_second{
  text-align: left;
  padding-bottom: 30px;
 /* border: 3px solid red;*/
}
.mecha_link_second{
/*  border: 4px solid red;*/
}
.mecha_link_h{
  font-size: 21px;
}
.mecha_link_p{
  font-size: 13px;
}

.faq-heading{
    border-bottom: #fff;
    padding: 20px 60px;
}
.faq-container{
display: flex;
text-align: left;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width:80%;
  border-bottom: 1px solid #000;
  margin:0px auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #000;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 25px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    border-radius: 0px;
    border-bottom:1px solid rgb(237,56,51,0.7) ;
    /*border-radius: 20px ;*/
    width: 90%;
}
.faq-body{
  margin: auto;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  /* text-align: center; */
  padding: auto;
  border-radius: 0px;
/*  border-bottom:2px solid #F10909;
  border-radius: 20px;*/
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #fff;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  /*background-color: #f2a3a3;*/
  color:#000;
  width: 90%;
  display: none;
  overflow: hidden;
}
.faq-body > p{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
}
.Main_header{
  padding: 150px 0 0px 0;
}
@media (max-width:900px) {
  .faq-page{
    font-size: 20px;
    text-align: left;
  }
  .majmun_row{
    display: none;
  }
  .faq-body{
    width: 100%;
  }
  .faq-page{
    width: 100%;
  }
  .Main_header{
    padding: 50px 0 100px 0;
  }
}


.links-acc{
  color: #000;
  font-size:32px;
}
.links-acc:hover{
  color: #;
}


.monkey_picture_link-2{
  width: 50%;
  margin-bottom: 15px;
}






.nav-top {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 101;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  list-style:none;
}
.nav-top .hamburger {
  margin-left: auto;
  color: #000;
  cursor: pointer;
}

.nav-drill {
  margin-top: 50px;
  transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
}
.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.team_picture{
  width: 100%;
  height: 100%;
}

.link_red{
  color: #F10909;
}
.link_red:hover{
  color: #F10909;
}

.nav-drill {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
}
.nav-items {
  flex: 0 0 100%;
  list-style:none;
}
.nav-item:not(:last-child) {
  border-bottom: solid 1px #f1f1f1;
}
.nav-link {
  display: block;
  padding: 0.875em 1em;
  list-style:none;
  background-color: #fff;
  font-size: 1.2rem;
  padding: 15px 0;
  line-height: 1.5em;
  font-weight: 300;
  text-decoration: none;
  padding: 0.3em 0;
  color: #212121;
  text-decoration: none;
}
.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #daf9f4;
  transition: 0.3s;
  visibility: hidden;
}
.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #000;
}
.nav-expand-content .nav-link {
  background-color: #daf9f4;
}
.nav-expand-content .nav-back-link {
  display: flex;
  align-items: center;
  background-color: #20b49c !important;
  color: #fff;
}
.nav-expand-content .nav-back-link::before {
  content: "chevron_left";
  margin-right: 0.5em;
}
.nav-expand-link {
  display: flex;
  justify-content: space-between;
}
.nav-expand-link::after {
  content: "chevron_right";
  flex: 0 1 auto;
}
.nav-expand.active > .nav-expand-content {
  transform: translateX(0);
  visibility: visible;
}
.nav-expand .nav-expand-content {
  background-color: #daf9f4;
}
.nav-expand .nav-expand-content .nav-link {
  background-color: #daf9f4;
}
.nav-expand .nav-expand-content .nav-expand-content {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #59e1cb;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #59e1cb;
}

